/* App.css */

/* App.css */
*{
margin: 0;
padding: 0;
}
.container {
 background: linear-gradient(to right bottom,#e1b382,#c89666);
width: 100%;
min-height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.app-wrapper {
  background-color: #12343b;
  min-width: 450px;
  min-height: 650px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 3px 6px 40px #0000;
}
  .header h1{
    color: none;
    text-align: center;
    margin: 30px 0;
  }


.header {
  text-align: center;
  margin-bottom: 20px;
}

.task-input {
outline: none;
width: 260px;
padding: 10px;
margin-right: 25px;
font-size: 20px;
color: #ccc;
background-color: #000000;
border: 1px solid #c89666;
border-radius: 10px;
}
.button-add{
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #f1af71;
  cursor: pointer;
}

.list-item {
  display: flex;
  margin: 20px 0;
  border: 1px solid#ccc;
  border-radius: 10px;
  padding: 8px;
  min-height: 30px;
}

/* .list-item:last-child {
  border-bottom: none;
  background-color: #f9f9f9; */
/* } */

/* .list-item input {
  flex: 1;
  margin-right: 10px;
  border: none;
  font-size: 16px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.5;
}

.task-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

.button-add {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer; */
/* } */

.button-complete,
.button-edit,
.button-delete {
  font-size: 20px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
}
.button-complete{
  color: #ff6c6c;
  margin-right: 10px;
}
.button-edit{
  color: #e2d029;
  margin-right: 10px;
}
.button-delete{
  color: lightgreen;
}
.complete{
  text-decoration-style: solid;
  text-decoration-line: line-through;
  text-decoration-color: #ff6c6c;
  opacity: 0.6;
}
.list{
  width: 220px;
  background-color: #12343b;
  border: none;
  color: #ccc;
  font-size: 20px;
  padding-left: 10px;
  margin-right: 10px;
}
input:focus,
button:focus{
  outline: none;
}

/* @media (max-width: 768px) {
  .container {
    padding: 10px;
  }
} */